<!-- Newsletter Form -->
<div class="flex flex-col items-start space-y-4 p-6 rounded-lg shadow-lg max-w-md mx-auto ">
    <div class="flex flex-col items-start">
        <label for="email" class="text-xl font-semibold text-black dark:text-gray-400 mb-2">Subscribe to our Newsletter</label>
        <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">Stay updated with our latest news, promotions, and offers!</p>
        <div class="flex w-full">
            <!-- Email Input -->
            <input type="email" id="email" placeholder="Enter your email" class="w-full p-3 border border-gray-300 rounded-lg text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent dark:text-gray-400 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" required>
        </div>
    </div>

    <div class="flex w-full">
        <!-- Submit Button -->
        <button type="submit" class="w-full p-3 mt-4 bg-red-600 text-gray-200 rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
            Subscribe
        </button>
    </div>
</div>
